{% define $x = 10 %}

{{ $x }}
{{ gettype($x) }}

{%              define              $y            =               "test"                      %}

{{ $y }}
{{ gettype($y) }}

{%define $z = 10.5%}
{{ $z }}
{{ gettype($z) }}

{% define $arr = ["item #1", "item #2", "item #3"] %}
{{ $arr[1] }}
{{ gettype($arr) }}

{%define $w = true %}
{{ $w }}
{{ gettype($w) }}

{%define $v = $arr[1] %}
{{ $v }}

{%define $u = $test1 %}
{{ $u }}

{{ $t }}
{%define $t = 5 %}
{%define $t = 7 %}

{% define $x = 10 %} {% if (false) %} {{ $x * $y }} {% end_if %} {% define $y = 11 %}